summary {
    text-align: center;
    cursor: pointer;
  }

  summary::marker {
    content: '➕';
    font-size: 1.4em;
  }

  details[open] > summary::marker {
    content: "➖";
    font-size: 1.4em;
}

.form-container {
    position: relative; 
    padding: 2rem; 
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; 
    border-radius: 0.5rem; 
    color: #374151; 
    background-color: #ffffff; 
}

.form-header {
    max-width: 80%;
    margin: auto;
}

.form-body {
    display: grid; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    margin-top: 1rem;
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
}

.header-text {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.item-container {
    position: relative; 
    padding: 2rem; 
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; 
    border-radius: 0.5rem; 
    color: #374151; 
    background-color: #ffffff;
}

.rating-block {
    display: flex; 
    position: absolute; 
    top: 0; 
    left: 0; 
    margin-top: -1rem; 
    margin-left: -1rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    border-width: 2px; 
    border-color: #E5E7EB; 
    width: 3rem; 
    height: 3rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
    color: #ffffff; 
    background-color: #99ccff; 
}

.text-input {
    flex-grow: 1; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    border: 1px solid #b3ccff;
    border-radius: 10px;
    outline: 2px solid transparent; 
}

.rating-list {
    display: flex; 
    margin-top: 1.75rem;
    margin-bottom: 1.75rem; 
    justify-content: space-around; 
    align-items: center; 
    list-style-type: none; 
}

.submit-button {
    border-radius: 0.375rem; 
    border-width: 0; 
    width: 7rem; 
    height: 2.5rem; 
    cursor: pointer; 
}

.plus-load {
    color: #1F2937; 
    background: #ccc;
}

.message {
    padding-top: 0.75rem; 
    text-align: center; 
    color: #7C3AED; 
}

.no-load {
    color: #ffffff; 
    background-color: #4F46E5; 
}

.submit-button:hover {
    background-color: #6366F1; 
}

.rating-button {
    position: absolute; 
    top: 0.5rem; 
    right: 1rem; 
    border-style: none; 
    font-weight: 700; 
    background-color: transparent; 
    cursor: pointer; 
}

.selected {
    color: #ffffff; 
    background-color: #99ccff !important; 
}

.rating-item {
    position: relative; 
    padding: 0.75rem; 
    border-radius: 9999px; 
    border-width: 2px; 
    border-color: #D1D5DB; 
    width: 3.5rem; 
    height: 3.5rem; 
    text-align: center; 
    background-color: #E5E7EB; 
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
}

.rating-label {
    display: flex; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    width: 100%; 
    height: 100%; 
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
    cursor: pointer; 
}

.rating-label:hover {
    color: #ffffff; 
    background-color: #99ccff; 
}

.radio-input {
    opacity: 0;
}

.main-class {
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    margin-top: 6rem; 
    width: 80%;
}

.stats {
    display: flex; 
    margin-bottom: 2.75rem; 
    justify-content: space-between; 
    align-items: center; 
}

.toast {
    position: fixed; 
    right: 2.5rem; 
    top: 3.5rem; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    border-right-width: 8px; 
    background-color: #ffffff; 
    drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1)); 
}

.white {
    color: white;
}

.toast-p {
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.toast-icon {
    display: inline-block; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-right: 0.5rem; 
    border-radius: 9999px; 
    font-weight: 800; 
    color: #ffffff; 
    background-color: #3B82F6; 
}

.loading-anim {
    display: inline-block; 
    position: fixed; 
    top: 1.25rem; 
    left: 1.25rem; 
    border-radius: 9999px; 
    border-width: 4px; 
    border-color: #FBBF24; 
    border-style: solid; 
    width: 2rem; 
    height: 2rem; 
    animation: spin 1s linear infinite;
}

ul {
    border: 2px solid #64649b;
}

#home-main h1 {
    text-align: center;
    color: white;
}

/* li {
    color: white;
} */

p {
    color: purple;
}

body {
    background-color: #ADADAD;
}

.okay {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.base {
    color: white;
}

#nav-list {
    margin: auto;
    text-align: center;
    color: white;
}

#nav-list ul {
    list-style: none;
}

#nav-list li {
    display: inline;
    padding: 10px; 
}

#nav-list a {
    text-decoration: none;
}

a:visited {
    color: rgb(208, 223, 154);
}

.data-display {
    margin: auto;
}

.data-display h1 {
    text-align: center;
}

.data-display h4 {
    text-align: center;
    padding: 0px 12px;
}

.entity-page h1 {
    text-align: center;
    margin: 32px auto;
    color: rgb(81, 102, 239)
}

fieldset {
    position: relative;
}
  
legend {
    position: absolute;
    bottom: 0;
    right: 0;
}

input[type=text] {
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email] {
    width: 50%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-image: url('img/at.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  input[type=tel] {
    width: 50%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  summary {
    text-align: center;
    cursor: pointer;
  }

  summary::marker {
    content: '➕';
    font-size: 1.4em;
  }

  details[open] > summary::marker {
    content: "➖";
    font-size: 1.4em;
}

.container {
    margin: auto;
    width: 60%;
}

.data-display {
    color: black;
}

.sub-form {
    display: flex;
}

.sub-form a {
    margin: 8px auto;
}

.input-div {
    width: 100%;
    padding: 1%;
}

.input-div label {
    margin-right: 10px;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="date"]{
    background-color: #0080ff;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
}

input[type=time] {
    border: none;
    color: #2a2c2d;
    font-size: 14px;
    font-family: helvetica;
    width: 180px;
  }
  
  /* Wrapper around the hour, minute, second, and am/pm fields as well as 
  the up and down buttons and the 'X' button */
  input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  }
  
  /* The space between the fields - between hour and minute, the minute and 
  second, second and am/pm */
  input[type=time]::-webkit-datetime-edit-text {
    padding: 19px 4px;
  }
  
  /* The naming convention for the hour, minute, second, and am/pm field is
  `-webkit-datetime-edit-{field}-field` */
  
  /* Hour */
  input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }
  
  /* Minute */
  input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }
  
  /* AM/PM */
  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #7155d3;
    border-radius: 15%;
    color: #fff;
    padding: 19px 13px;
  }
  
  /* 'X' button for resetting/clearing time */
  input[type=time]::-webkit-clear-button {
    display: inline-block;
  }
  
  /* Up/Down arrows for incrementing/decrementing the value */
  input[type=time]::-webkit-inner-spin-button {
    display: none;
  }

.my-toast {
    position: fixed; 
    right: 2.5rem; 
    top: 3.5rem; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    border-right-width: 8px; 
    background-color: #ffffff; 
    drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1)); 
}

.toast-span {
    display: inline-block; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-right: 0.5rem; 
    border-radius: 9999px; 
    font-weight: 800; 
    color: #ffffff; 
    background-color: #3B82F6; 
}

#form-container {
    margin: 12px auto;
    padding: 4px;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
}

#form-container h3 {
    text-align: center;
    color: white;
}

#form-container form {
    margin: auto;
    text-align: center;
}

.login-route a {
    text-decoration: none;
}

.login-route {
    text-align: center;
}

.logout {
    background-color: rgb(144, 173, 235); 
    color: white; 
    border: 1px solid black;
    float: right;
    box-shadow: 0 2px 0 0 black;
    border-radius: 5px;
    font-size: 2rem; 
    cursor: pointer;
  }
  
.logout:hover {
    background-color: RoyalBlue;
}

#user-messages p {
    text-align: center;
}

.half-input {
    width: 45%;
}

.text-input {
    width: 100%;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

@media (min-width: 768px) { 
    .main-class {
        margin-top: 6rem; 
    }
}